.page {
    padding: 16px;
}

.page__title {
    margin: 0 0 10px;
}

.page__text {
    margin: 0 0 10px;
    opacity: 0.85;
}

.backLink {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    color: #0a58ca;
}

.backLink:hover {
    text-decoration: underline;
}